.popup_type_tooltip {
    background: rgba(0, 0, 0, 0.5);
}

.popup__tooltip {
    position: relative;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    margin: 0;
    z-index: 2;
    opacity: 1;
    background-color: white;
}


.tooltip__logo {
    width: 120px;
    height: 120px;
    margin: 60px 155px 32px;
}

.tooltip__text {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    width: 358px;
    margin: 0 36px;
    padding: 0;
}